@import url('https://fonts.googleapis.com/css?family=Cousine:300,400,700,900');

body, span {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', 'Arial', serif;
  font-size: 18px;  
}

h1, h2, h3, h4, h5, h6, footer, span {
  color: #0854ff;  
}

hr {
  border: none;
  border-bottom: 1px solid #e2e2e2;
  margin: 40px 0;
}

hr:last-child {
  display:none; 
}

a,
a:link,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

.nav-item {
  font-weight: 600;
}

.container {
  max-width: 740px;
  margin: 0 auto 70px;
  padding: 0 10px;
  line-height: 1.5rem;
}

// Top section 
.hero {
  text-align: right;
  padding: 0;
  max-width: 740px;
  margin: 50px auto 40px;
  position: relative;
}

.hero h1 {
  margin: 0;
  font-size: 21px;
  position: absolute;
  top: 8px;
  font-weight: 300;
  left: 0;
  color: #c5c5c5;
}

.hero p {
  margin: 0;
}

.hero a,
.hero a:link,
.hero a:active,
.hero a:visited,
.hero a:focus {
  text-decoration: none;
}

ul.nav {
  padding: 0;
  margin: 10px auto 0;
  display: inline-block;
}

ul.nav li {
  display: inline-block;
  margin: 0 7px 0;
}

// Content
.article {
  margin: 1.5rem 0;
}

.content {
  margin: 45px 0;
}

.content h2 {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 31px;
}

.content a:hover {
  text-decoration: none;
}

.article a,
.article a:hover {
  text-decoration: underline;
}

.content span {
  color: #b0b0b0;
  font-size: 16px;
}

// Footer
footer {
  text-align: center;
}

footer a {
  font-weight: 600;
  margin: 0 0.3rem;
}

footer small {
  color: #b0b0b0;
  font-size: 12px;
}

// Media queries
@media only screen and (max-width: 770px) {
  
  .hero {
    text-align: center;
    margin: 30px auto;
  }  
  
  .hero h1 {
    position: relative;
    margin-bottom: 5px;
  }

  .container {
    margin: 35px 0;
  }
}

@media only screen and (max-width: 500px) {
  
  .container {
    line-height: 1.4rem;
  }
  
  .content h2 {
    font-size: 25px;
    margin-bottom: 5px;
  }

  .content span {
      font-size: 14px;
  }

  .content {
    font-size: 14px;    
  }
  
  ul.nav li {
    font-size: 16px;
  }

  footer a {
    font-size: 16px;
  }

  hr {
    margin: 30px 0
  }
}