@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

body {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-family: 'Lato', 'Helvetica Neue', 'Arial', serif;
}

hr {
  border: none;
  border-bottom: 1px solid #e2e2e2;
}

a,
a:link,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  color: #000;
}

a:hover {
  opacity: 0.85;
  text-decoration: underline;
}

.nav-item {
  font-weight: 600;
}

.container {
  max-width: 740px;
  margin: 0 auto 70px;
  padding: 0 10px;
}

// Top section 
.hero {
  text-align: right;
  padding: 0;
  max-width: 740px;
  margin: 50px auto 40px;
  position: relative;
}

.hero h1 {
  margin: 0;
  font-size: 1.7rem;
  position: absolute;
  top: 5px;
  left: 0;
  color: #000;
}

.hero p {
  margin: 0;
}

ul.nav {
  padding: 0;
  margin: 10px auto 0;
  display: inline-block;
}

ul.nav li {
  display: inline-block;
  margin: 0 7px 0;
}
h1, h2, h3, h4, h5, h6 {
  color: #e00303;  
}

// Content
.article {
  margin: 3rem 0;
}

.content h2 {
  margin-bottom: 0.5rem;
}

.content p {
  line-height: 1.8rem;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: 'Roboto',  'Helvetica Neue', 'Arial', serif;
}

.content span {
  color: #b0b0b0;
}

.active a {
  opacity: 0.6;
}

// Footer
footer {
  text-align: center;
}

footer a {
  font-weight: 600;
  font-size: 1rem;
  margin: 0 0.3rem;
}

footer small {
  font-size: 0.73rem;
  color: #b0b0b0;
}

// Triangle 
@media only screen and (min-width: 900px) {
  .triangle {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    z-index: -1;
    border-top: 400px solid #222;
    border-right: 70px solid transparent;
  }
}

@media only screen and (min-width: 1200px) {
  .triangle {
    border-top: 650px solid #222;
    border-right: 150px solid transparent;
  }
}

@media only screen and (max-width: 900px) {
  .content h2 {
    font-size: 1.6rem;
  }

  .content p {
    line-height: 1.7rem;
    font-size: 1rem;
  }
  
  .content span {
    font-size: 1.1rem;
  }
  
  .hero {
    text-align: center;
    margin: 30px auto 20px;
  }  
  
  .hero h1 {
    font-size: 1.6rem;
    position: relative;
  }
  
  ul.nav li {
    font-size: 1rem;
  }
  
  .article {
    margin: 1.5rem 0;
  }
}