
= @page.content(:text).try(:html_safe)
.content
  - Spina::Page.all.each do |page|
    - if page.ancestry == '1'
      %a{ :href => 'blog/' + page.title.downcase.strip.gsub(' ', '-').gsub(/[^\w-]/, '') }
        %h2= page.title
      .article= page.content(:text).try(:html_safe)